*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    background-color: #212121;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg,  rgb(3, 3, 52));
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 8px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 50px;
    margin-left: 12px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 15px;
    padding-left: 20px;
    margin-bottom: 30px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}


button{
    border: 1px solid ;
    border-radius: 10px;
    outline: none;
    padding: 16px 50px;
    background: #288d0f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
content:  '';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50%;
background-image: url(img//unchecked.png);
background-size: cover;
background-position: center;
top: 12px;
left: 8px;

}

ul li.checked{
    color: #b91212;
    text-decoration: line-through;

}

ul li.checked::before{
    background-image: url(img/checked.png);
    background-color: #288d0f;

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
}

ul li span:hover{
    background-color: #4d06aa;
    border-radius: 10px;

}